autom4te.cache/
Makefile
*.in
*.o
/.deps/
/src/tests/.deps/
tests
tests/
tests/*
.svn
.svn/*
.svn/
.config.in.h\~
*.log
libtool
Makefile
Makefile.in
Makefile.msc
missing
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh

aclocal.m4
config.log
config.status
configure
config.h.in~
autom4te.cache
